{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container mt-5 pt-5">
	<h1>This Is Our DBBL Number</h1>
	<img class="img-fluid" src="{% static 'images/dbbl.png' %}" alt="">
	<h2>+8801794021132</h2>
	<h2>+8801794021131</h2>
	<h2>+8801794021133</h2>
</div>

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
           	<div class="row d-flex justify-content-center py-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                	<h1 class="big">Subscribe</h1>
                    <h2>Subcribe to our Newsletter</h2>
                    <div class="row d-flex justify-content-center mt-5">
                      	<div class="col-md-8">
	                        <form action="#" class="subscribe-form">
	                          <div class="form-group d-flex">
	                            <input type="text" class="form-control" placeholder="Enter email address">
	                            <input type="submit" value="Subscribe" class="submit px-3">
	                          </div>
	                        </form>
                      	</div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</section>



{% endblock %}